<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/listConsultation.css">
</head>

<body>
<i class="fas fa-bars"></i>
  <nav>
    <ul>
      <li><a  href="http://localhost:8080/">Terminarz</a></li>
      <li><a  href="http://localhost:8080/calendar">Zapisz się</a></li>
      <li><a  href="http://localhost:8080/listConsultation">Konsultacje</a></li>
      <li><a  href="/">{{ __('Wyloguj') }}</a></li>
      <li><i class="fas fa-times"></i></li>
    </ul>
  </nav>
  <main>
      <table>
        <tr>
          <th>Imię</th>
          <th>Nazwisko</th>
          <th>data</th>
          <th>Czas rozpoczęcia</th>
          <th>Czas zakończenia</th>
          <th>Email</th>
          <th>Przedmiot</th>
          <th>Status</th>
          <th>Opcje</th>
        </tr>
      </table>
  </main>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src='js/listConsultation.js'></script>
</body>

</html>