<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Kalendarz konsultacji</title>
  <link rel="stylesheet" href="css/calendar.css">
  <meta name="description" content="Calendar">
  <meta name="author" content="Charles Anderson">
  <style>
    .Konst{
      position: absolute;
      top: 20px;
      right: 50px;
      box-sizing: borderbox;
      display: inline-block;
      height: 20px;
      width: 100px;
      padding: 10px 20px;
      border: 1px solid black;
      border-radius: 50px;
      background-color: black;
      text-align: center;
      color: white;
      text-decoration: none;
    }

    .Konst:hover{
      cursor: point;
    }
  </style>
</head>

<body>
  <a class="Konst" href="http://localhost:8080/listConsultation">Konsultacje</a>
  <a class="Konst" style="top: 70px"href="http://localhost:8080/message">Wiadomości</a>
  <a class="Konst" style="top: 120px" href="/">{{ __('Logout') }}</a><br>
  <div class="content">
    <div class="calendar-container">
      <div class="calendar">
        <div class="year-header">
          <span class="left-button" id="prev"> &lang; </span>
          <span class="year" id="label"></span>
          <span class="right-button" id="next"> &rang; </span>
        </div>
        <table class="months-table">
          <tbody>
            <tr class="months-row">
              <td class="month">Jan</td>
              <td class="month">Feb</td>
              <td class="month">Mar</td>
              <td class="month">Apr</td>
              <td class="month">May</td>
              <td class="month">Jun</td>
              <td class="month">Jul</td>
              <td class="month">Aug</td>
              <td class="month">Sep</td>
              <td class="month">Oct</td>
              <td class="month">Nov</td>
              <td class="month">Dec</td>
            </tr>
          </tbody>
        </table>

        <table class="days-table">
          <td class="day">Sun</td>
          <td class="day">Mon</td>
          <td class="day">Tue</td>
          <td class="day">Wed</td>
          <td class="day">Thu</td>
          <td class="day">Fri</td>
          <td class="day">Sat</td>
        </table>
        <div class="frame">
          <table class="dates-table">
            <tbody class="tbody">
            </tbody>
          </table>
        </div>
        <button class="button" id="add-button">Dodaj</button>
      </div>
    </div>
    <div class="events-container">
    </div>
    <div class="dialog" id="dialog">
      <h2 class="dialog-header"> Dodaj wydarzenie </h2>
      <form class="form" id="form" method="POST" action="C:\Users\S\Documents\consultationPHP\src\Action\Calendar\CalendarCreateAction.php">
        <div class="form-container" align="center">
          <label class="form-label" id="valueFromMyButton" for="name">Imię</label>
          <input class="input" type="text" name="firstName" value="<?php echo $firstName; ?>" id="name" maxlength="30">
          <label class="form-label" id="valueFromMyButton" for="name">Nazwisko</label>
          <input class="input" type="text" name="lastName" id="lastName" maxlength="30">
          <label class="form-label" id="valueFromMyButton" for="email">Email</label>
          <input class="input" type="text" name="email" id="email" maxlength="30">
          <label class="form-label" id="valueFromMyButton" for="subject">Przedmiot</label>
          <input class="input" type="text" name="subject" id="subject" maxlength="30">
          <label class="form-label" id="valueFromMyButton" for="time">Czas</label>
          <input class="input" type="time" name="time" id="time">


          <input type="button" value="Anuluj" class="button" id="cancel-button">

          <button id="ok-button" class="button" type="submit">{{ __('Zapisz') }}</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Dialog Box-->
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">
  </script>
  <script src="app.js"></script>
</body>
<!-- partial -->
<script src="js/calendar.js"></script>

</body>

</html>