<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Kalendarz konsultacji</title>
  <meta name="description" content="Calendar"/>
  <meta name="author" content="Charles Anderson"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"></link>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel='stylesheet' href='css/phpMailer.css'/>
</head>

<body>
<i class="fas fa-bars"></i>
  <nav>
    <ul>
      <li><a  href="http://localhost:8080/">Terminarz</a></li>
      <li><a  href="http://localhost:8080/calendar">Zapisz się</a></li>
      <li><a  href="http://localhost:8080/login">Zaloguj się</a></li>
      <li><i class="fas fa-times"></i></li>
    </ul>
  </nav>
  <main>
    <section class='addConsultation'>
      <form method="POST">
          <label class="form-label" id="valueFromMyButton" for="email">Wyślij do</label>
          <input class="input" type="text" name="email" id="email" placeholder="{{ __('email') }}" />
          <label class="form-label" id="valueFromMyButton" for="topic">Temat</label>
          <input class="input" type="text" name="topic" id="topic" maxlength="30" placeholder="{{ __('topic') }}" />
          <label class="form-label" id="valueFromMyButton" for="content">Treść wiadomości</label>
          <textarea rows="5" cols="30" class="input" type="text" name="content" id="content"></textarea>
          <button id="ok-button" type="submit">{{ __('Wyślij') }}</button>
      </form>
    </section>
  </main>
</body>

</html>