*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bec5d3;
    font-family: Roboto;
}

.fa-bars{
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 26px;
}

.fa-bars:hover{
    cursor: pointer;
}

nav{
    position: absolute;
    top: -50px;
    background-color: #1F3F80;
    transition: all .5s ease;
}

nav ul{
    height: 50px;
    width: 100vw;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    list-style: none;
}

nav ul li{
    height: 100%;
    display: inline-block;
    padding: 10px 15px;
    font-size: 22px;
    line-height: calc(100% + 1  0px);
}

nav ul li:hover{
    color:#829FD9;
    cursor: pointer;
}

nav ul li a, nav ul li i{
    text-decoration: none;
    color: white;
}

main {
    height: 80vh;
    width: 85vw;
    margin: 10vh auto;
    padding: 20px 25px;
    background-color: whitesmoke;
    border-radius: 20px;
}

main table {
    width: 82vw;
    margin: 10px auto;
    border: 1px solid black;
    border-collapse: collapse;
}

main table tr th{
    margin: 0 auto;
    padding: 10px 5px;
    width: calc(82vw / 8);
    font-size: 14px;
    border: 1px solid black;
    background-color: #5C73F2;
    color: white;
}

main table tr td{
    margin: 0 auto;
    padding: 10px 5px;
    width: calc(82vw / 8);
    font-size: 14px;
    text-align: center;
    border: 1px solid black;
}