*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #bec5d3;
    font-family: Roboto;
}

.fa-bars{
    position: absolute;
    top: 10px;
    right: 50px;
    font-size: 26px;
}

.fa-bars:hover{
    cursor: pointer;
}

nav{
    position: absolute;
    top: -50px;
    background-color: #1F3F80;
    transition: all .5s ease;
}

nav ul{
    height: 50px;
    width: 100vw;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    list-style: none;
}

nav ul li{
    height: 100%;
    display: inline-block;
    padding: 10px 15px;
    font-size: 22px;
    line-height: calc(100% + 1  0px);
}

nav ul li:hover{
    color:#829FD9;
    cursor: pointer;
}

nav ul li a, nav ul li i{
    text-decoration: none;
    color: white;
}

main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

main .weeks{
    height: 93%;
    width: 80vw;
    display: flex;
    margin-top: 30px;
    padding: 15px 20px;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
}

main .weeks form{
    margin: 0 2px 15px;
    display: flex;
    justify-content: space-around;
}

main .weeks form label{
    font-size: 18px;
    line-height: 40px;
}

main .weeks form input{
    padding: 5px 10px;
    border: none;
    width: 120px;
    display: inline-block;
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    letter-spacing: 1.5px;
    background-color: rgba(62, 56, 242, 0.9);
    cursor: pointer;
    outline: 0;
}

main .weeks table{
    margin-top: 30px;
    height: 250px;
    border: 1px solid black;
    border-collapse: collapse;
}

main .weeks table td, main .weeks table th{
    border: 1px solid black;
    text-align: center;
}

main .weeks table td, main .weeks table th{
    width: 120px;
}


main .weeks table .tableTime{
    width: 120px;
}