<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <title>Kalendarz konsultacji</title>
  <meta name="description" content="Calendar"/>
  <meta name="author" content="Charles Anderson"/>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"></link>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <link rel='stylesheet' href='css/phpMailer.css'/>
</head>

<body>
<i class="fas fa-bars"></i>
  <nav>
    <ul>
      <li><a  href="http://localhost:8080/">Terminarz</a></li>
      <li><a  href="http://localhost:8080/calendar">Zapisz się</a></li>
      <li><a  href="http://localhost:8080/login">Zaloguj się</a></li>
      <li><i class="fas fa-times"></i></li>
    </ul>
  </nav>
  <main>
    <section class='addConsultation'>
      <form method="POST">
          <label class="form-label" id="valueFromMyButton" for="date">Dzień konsultacji</label>
          <input class="input" type="date" name="date" id="date" placeholder="{{ __('date') }}" />
          <label class="form-label" id="valueFromMyButton" for="time">Czas zaczęcia konsultacji</label>
          <input class="input" type="time" name="start_hour" id="time" placeholder="{{ __('start_hour') }}" />
          <label class="form-label" id="valueFromMyButton" for="end_hour">Czas końca konsultacji</label>
          <input class="input" type="time" name="end_hour" id="end_hour" placeholder="{{ __('end_hour') }}" />
          <input type="hidden" id="hidden" name="id_consultation" value="">
          <button id="ok-button" type="submit">{{ __('Zapisz') }}</button>
      </form>
    </section>
  </main>

  <script src="js/edit.js"></script>
</body>

</html>